* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

}

body {
  background: url(./assets/backimg.jpg) no-repeat top center/cover;
  height: 100vh;
}

main h1 {
   font-family: "Italiana", serif;
   font-size: 120px;
   text-align: center;
}
